{% extends 'base.html' %}
{% load static %}

{% block title %}Perfil del usuario{% endblock %}
{% block content %}
<div class="profile-wrapper">

    <div class="profile-card">

        <!-- Foto -->
        <div class="profile-photo">
            <img src="{% static 'img/default_profile.png' %}" alt="Foto de perfil">
        </div>

        <!-- Información -->
        <div class="profile-info">
            <h2>{{ user.username }}</h2>
            <p><strong>Email:</strong> {{ user.email }}</p>
            <p><strong>Fecha de registro:</strong> {{ user.date_joined|date:"d M Y" }}</p>
        </div>

    </div>

</div>
{% endblock %}